---
import Layout from "../../layouts/Layout.astro";
import client from '../../umbraco-client';

export async function getStaticPaths() {
	const blogPosts = await client.getContentByType('blogPost')

  console.log(blogPosts)

	return blogPosts.map((page) => ({
		params: { slug: page.route.path.replaceAll('/', '') },
		props: page.properties
	}))
}

const { title, description } = Astro.props;
---

<Layout {title} {description}>
  <h1>{title}</h1>
  <p>{description}</p>
</Layout>