---
	import Logo from './Logo.astro';
	const {navMenu } = Astro.props;
---

<nav class="nav">
	<Logo />
	<div class="menu">
		{navMenu?.map(page => {
			const { path } = page.route
			return (
				<a
					href={`${path}`}
					class="link"
					// data-astro-prefetch="tap"
					// data-astro-prefetch="hover"
				>
					{page.title}
				</a>
			);
		})}
	</div>
</nav>

<style>
    .nav {
        margin-bottom: 2rem;
		display: flex;
		align-items: center;
		gap:3rem;
		padding: 1.5rem 0;
    }
	.menu {
		display:flex;
        flex-wrap: wrap;
        gap: .5rem;
	}

	.link {
		background: white;
		color: #13151a;
        opacity:0.7;
		text-decoration: none;
        padding:.5rem 1rem;
        border-radius: .2rem;
	}
	.link:hover {opacity:1}	
</style>